<!-- component -->
<section class="max-w-5xl mx-auto py-10">
   
    <div>
       <div class="flex flex-row">
          <div class="hidden md:flex flex-col items-center">
             <div class="w-32 py-5 border border-blue-400 rounded mr-4 uppercase flex flex-col items-center justify-center">
                <div class="text-3xl font-black text-blue-500">Paso 1</div>
              </div>
             <div class="h-full border-l-4 border-transparent">
                <div class="border-l-4 mr-4 h-full border-blue-400 border-dashed"></div>
             </div>
          </div>
          <div class="flex-auto border rounded  border-blue-400">
             <div class="flex md:flex-row flex-col items-center">
                <div class="flex-auto">
                   <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-blue-500"><span class="font-black">Paso 1</span> - Idea</div>
                   <div class="p-3 text-3xl text-blue-800 font">Programas de apoyo</div>
                   <div class="px-3 pb-6 text-blue-600">Impulsar la competitividad europea financiando proyectos I+D+i colaborativos entre Europa y terceros países. Apoya infraestructuras, formación, investigación básica, coordinación I+D+i nacional y plataformas tecnológicas europeas.
                      
                      
                 </div>
                </div>
              </div>
          </div>
       </div>
       <div class="flex items-start flex-row">
          <div class="border-t-4 border-r-4 border-transparent">
             <div class="w-16 ml-16 h-16 border-l-4 border-blue-400 border-dashed border-b-4 rounded-bl-full"></div>
          </div>
          <div class="border-t-4 border-transparent flex-auto">
             <div class="h-16 border-b-4 border-blue-500 border-dashed"></div>
          </div>
          <div class="w-16 mt-16 mr-16 h-16 border-r-4 border-blue-500 border-dashed border-t-4 rounded-tr-full"></div>
       </div>
       <div class="flex flex-row-reverse">
          <div class="hidden md:flex flex-col items-center">
             <div class="w-32 py-5 border border-blue-600 rounded ml-4 uppercase flex flex-col items-center justify-center">
                <div class="text-3xl font-black text-blue-500">Paso 2</div>
              </div>
             <div class="h-full border-r-4 border-transparent">
                <div class="border-l-4 ml-4 h-full border-blue-600 border-dashed"></div>
             </div>
          </div>
          <div class="flex-auto border rounded  border-blue-300">
             <div class="flex md:flex-row flex-col items-center">
                <div class="flex-auto">
                   <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-blue-500"><span class="font-black">Paso 2</span> - Collaboration</div>
                   <div class="p-3 text-3xl text-blue-800 font"> Descripción y objetivos</div>
                   <div class="px-3 pb-6 text-blue-600">
                     <ul class="list-disc ml-8">
                        <li>Crear una ciencia de excelencia</li>
                        <li>Aumento de dotación para investigadores</li>
                        <li>Se amplia el campo de las tecnologías futuras</li>
                        <li>Se mantienen actividades para apoyar la formación, movilidad y cualificación</li>
                        <li>Desarrollo de tecnologías y aplicaciones</li>
                     </ul>


                   </div>
                </div>
              </div>
          </div>
       </div>
       <div class="flex items-start flex-row-reverse">
          <div class="border-t-4 border-l-4 border-transparent">
             <div class="w-16 mr-16 h-16 border-r-4 border-blue-600 border-dashed border-b-4 rounded-br-full"></div>
          </div>
          <div class="border-t-4 border-transparent flex-auto">
             <div class="h-16 border-b-4 border-blue-700 border-dashed"></div>
          </div>
          <div class="w-16 mt-16 ml-16 h-16 border-l-4 border-blue-700 border-dashed border-t-4 rounded-tl-full"></div>
       </div>
       <div class="flex flex-row">
          <div class="hidden md:flex flex-col items-center">
             <div class="w-32 py-5 border border-blue-700 rounded mr-4 uppercase flex flex-col items-center justify-center">
                <div class="text-3xl font-black text-blue-500">Paso 3</div>
             </div>
             <div class="h-full border-l-4 border-transparent">
                <div class="border-l-4 mr-4 h-full border-blue-700 border-dashed"></div>
             </div>
          </div>
          <div class="flex-auto border rounded  border-blue-700">
             <div class="flex md:flex-row flex-col items-center">
                <div class="flex-auto">
                   <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-blue-500"><span class="font-black">Paso 3</span> - Planification</div>
                   <div class="p-3 text-3xl text-blue-800 font">Organismos institucionales que velan por que se cumplan las medidas</div>
                   <div class="px-3 pb-6 text-blue-600"></div>
                </div>
              </div>
          </div>
       </div>
       <div class="flex items-start flex-row">
          <div class="border-t-4 border-r-4 border-transparent">
             <div class="w-16 ml-16 h-16 border-l-4 border-blue-700 border-dashed border-b-4 rounded-bl-full"></div>
          </div>
          <div class="border-t-4 border-transparent flex-auto">
             <div class="h-16 border-b-4 border-blue-700 border-dashed"></div>
          </div>
          <div class="w-16 mt-16 mr-16 h-16 border-r-4 border-blue-800 border-dashed border-t-4 rounded-tr-full"></div>
       </div>
       <div class="flex flex-row-reverse">
          <div class="hidden md:flex flex-col items-center">
             <div class="w-32 py-5 border border-blue-900 rounded ml-4 uppercase flex flex-col items-center justify-center">
                <div class="text-3xl font-black text-blue-500">Paso 4</div>
              </div>
              <div class="h-full border-r-4 border-transparent">
               <div class="border-l-4 ml-4 h-full border-blue-600 border-dashed"></div>
            </div>
          </div>
          <div class="flex-auto border rounded  border-blue-900">
             <div class="flex md:flex-row flex-col items-center">
                <div class="flex-auto">
                   <div class="p-3 text-3xl text-blue-800 font">Acceso al portal y procedimientos de solicitud</div>
                   <div class="px-3 pb-6 text-blue-600">
                     <!-- <ul class="list-disc ml-8">
                        <li>subvenciones</li>
                        <li>Préstamos</li>
                        <li>Inversiones</li>
                     </ul> -->
                   </div>
                </div>
              </div>
          </div>
       </div>
       
      <div class="flex items-start flex-row-reverse">
         <div class="border-t-4 border-l-4 border-transparent">
            <div class="w-16 mr-16 h-16 border-r-4 border-blue-600 border-dashed border-b-4 rounded-br-full"></div>
         </div>
         <div class="border-t-4 border-transparent flex-auto">
            <div class="h-16 border-b-4 border-blue-700 border-dashed"></div>
         </div>
         <div class="w-16 mt-16 ml-16 h-16 border-l-4 border-blue-700 border-dashed border-t-4 rounded-tl-full"></div>
      </div>
      <div class="flex flex-row">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-blue-700 rounded mr-4 uppercase flex flex-col items-center justify-center">
               <div class="text-3xl font-black text-blue-500">Paso 5</div>
            </div>
            <!-- <div class="h-full border-l-4 border-transparent">
               <div class="border-l-4 mr-4 h-full border-blue-700 border-dashed"></div>
            </div> -->
         </div>
         <div class="flex-auto border rounded  border-blue-700">
            <div class="flex md:flex-row flex-col items-center">
               <div class="flex-auto">
                  <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-blue-500"><span class="font-black">Paso 5</span> - Planification</div>
                  <div class="p-3 text-3xl text-blue-800 font">Eventos anuales</div>
                  <div class="px-3 pb-6 text-blue-600">
                     <p>Conferencias y Cumbres</p>
                     <ul class="pl-12 list-disc">
                        <li>Digital Futures Conference</li>
                        <li>European Future Technologies Conference</li>
                        <li>European Research and Innovation Days</li>
                     </ul>
                     <p>Ferias y Exposiciones</p>
                     <ul class="pl-12 list-disc">
                        <li>Digital Transformation World</li>
                        <li>Slush</li>
                        <li>4YFN</li>
                     </ul>
                  </div>
               </div>
             </div>
         </div>
      </div>
    </div>
 </section>