<!-- component -->
<section class="max-w-5xl mx-auto py-10">
   <div class="flex justify-center items-center ">
      <div class=" mb-12">
         <img src="/arrow.png" alt="">
      </div>
    </div>
    
   
   <div>
      <div class="flex flex-row">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-amber-400 rounded mr-4 uppercase flex flex-col items-center justify-center">
               <div class="text-6xl font-black text-black">1</div>
             </div>
            <div class="h-full border-l-4 border-transparent">
               <div class="border-l-4 mr-4 h-full border-amber-400 border-dashed"></div>
            </div>
         </div>
         <div class="flex-auto border rounded  border-amber-400">
            <div class="flex md:flex-row flex-col items-center">
               <div class="flex-auto">
                  <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-black"><span class="font-black">1</span> - Idea</div>
                  <div class="p-3 text-3xl text-amber-800 font">Programas de apoyo</div>
                  <div class="px-3 pb-6 text-amber-600">Impulsar la competitividad europea financiando proyectos I+D+i colaborativos entre Europa y terceros países. Apoya infraestructuras, formación, investigación básica, coordinación I+D+i nacional y plataformas tecnológicas europeas.
                     
                     
                </div>
               </div>
             </div>
         </div>
      </div>
      <div class="flex items-start flex-row">
         <div class="border-t-4 border-r-4 border-transparent">
            <div class="w-16 ml-16 h-16 border-l-4 border-amber-400 border-dashed border-b-4 rounded-bl-full"></div>
         </div>
         <div class="border-t-4 border-transparent flex-auto">
            <div class="h-16 border-b-4 border-amber-500 border-dashed"></div>
         </div>
         <div class="w-16 mt-16 mr-16 h-16 border-r-4 border-amber-500 border-dashed border-t-4 rounded-tr-full"></div>
      </div>
      <div class="flex flex-row-reverse">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-amber-600 rounded ml-4 uppercase flex flex-col items-center justify-center">
               <div class="text-5xl font-black text-black">2</div>
             </div>
            <div class="h-full border-r-4 border-transparent">
               <div class="border-l-4 ml-4 h-full border-amber-600 border-dashed"></div>
            </div>
         </div>
         <div class="flex-auto border rounded  border-amber-300">
            <div class="flex md:flex-row flex-col items-center">
               <div class="flex-auto">
                  <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-amber-500"><span class="font-black">2</span> - Collaboration</div>
                  <div class="p-3 text-3xl text-amber-800 font"> Descripción y objetivos</div>
                  <div class="px-3 pb-6 text-amber-600">
                    <ul class="list-disc ml-8">
                       <li>Crear una ciencia de excelencia</li>
                       <li>Aumento de dotación para investigadores</li>
                       <li>Se amplia el campo de las tecnologías futuras</li>
                       <li>Se mantienen actividades para apoyar la formación, movilidad y cualificación</li>
                       <li>Desarrollo de tecnologías y aplicaciones</li>
                    </ul>


                  </div>
               </div>
             </div>
         </div>
      </div>
      <div class="flex items-start flex-row-reverse">
         <div class="border-t-4 border-l-4 border-transparent">
            <div class="w-16 mr-16 h-16 border-r-4 border-amber-600 border-dashed border-b-4 rounded-br-full"></div>
         </div>
         <div class="border-t-4 border-transparent flex-auto">
            <div class="h-16 border-b-4 border-amber-700 border-dashed"></div>
         </div>
         <div class="w-16 mt-16 ml-16 h-16 border-l-4 border-amber-700 border-dashed border-t-4 rounded-tl-full"></div>
      </div>
      <div class="flex flex-row">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-amber-700 rounded mr-4 uppercase flex flex-col items-center justify-center">
               <div class="text-5xl font-black text-black">3</div>
            </div>
            <div class="h-full border-l-4 border-transparent">
               <div class="border-l-4 mr-4 h-full border-amber-700 border-dashed"></div>
            </div>
         </div>
         <div class="flex-auto border rounded  border-amber-700">
            <div class="flex md:flex-row flex-col items-center">
               <div class="flex-auto">
                  <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-amber-500"><span class="font-black">3</span> - Planification</div>
                  <div class="p-3 text-3xl text-amber-800 font">Organismos institucionales que velan por que se cumplan las medidas</div>
                  <div class="px-3 pb-6 text-amber-600">
                    <ul class="list-disc ml-8">
                       <li>La comisión Europea</li>
                       <li>La Agencia Ejecutiva de Investigación</li>
                       <li>La Agencia Europea de Redes y Seguridad de la Información</li>
                       <li>Instituto Europeo de Innovación y Tecnología</li>
                    </ul>
                  </div>
               </div>
             </div>
         </div>
      </div>
      <div class="flex items-start flex-row">
         <div class="border-t-4 border-r-4 border-transparent">
            <div class="w-16 ml-16 h-16 border-l-4 border-amber-700 border-dashed border-b-4 rounded-bl-full"></div>
         </div>
         <div class="border-t-4 border-transparent flex-auto">
            <div class="h-16 border-b-4 border-amber-700 border-dashed"></div>
         </div>
         <div class="w-16 mt-16 mr-16 h-16 border-r-4 border-amber-800 border-dashed border-t-4 rounded-tr-full"></div>
      </div>
      <div class="flex flex-row-reverse">
         <div class="hidden md:flex flex-col items-center">
            <div class="w-32 py-5 border border-amber-900 rounded ml-4 uppercase flex flex-col items-center justify-center">
               <div class="text-5xl font-black text-black">4</div>
             </div>
             <div class="h-full border-r-4 border-transparent">
              <div class="border-l-4 ml-4 h-full border-amber-600 border-dashed"></div>
           </div>
         </div>
         <div class="flex-auto border rounded  border-amber-900">
            <div class="flex md:flex-row flex-col items-center">
               <div class="flex-auto">
                  <div class="p-3 text-3xl text-amber-800 font">Acceso al portal y procedimientos de solicitud</div>
                  <div class="px-3 pb-6 text-amber-600">
                     
                     
                     <p>Procedimientos de solicitud:</p>
                       <ul class="list-disc ml-8">
                          <li>Dependen de los requisitos, criterios y etapas de cada convocatoria</li>
                          <li>Una vez comprobado que se cumplen los requisitos de admisibilidad se debe
                             preparar una propuesta que debe ceñirse lo máximo posible a los criterios de la
                             convocatoria.</li>
                          <li>Debe presentarse online dentro del plazo</li>
                          <li>3 formas tipos de convocatorias
                                
                                <ul class="list-disc ml-8">
                                   <li>Gestión directa</li>
                                   <li>Gestión compartida</li>
                                   <li>Gestión indirecta</li>
                                </ul>
                          </li>
                  </div>
               </div>
             </div>
         </div>
      </div>
      
     <div class="flex items-start flex-row-reverse">
        <div class="border-t-4 border-l-4 border-transparent">
           <div class="w-16 mr-16 h-16 border-r-4 border-amber-600 border-dashed border-b-4 rounded-br-full"></div>
        </div>
        <div class="border-t-4 border-transparent flex-auto">
           <div class="h-16 border-b-4 border-amber-700 border-dashed"></div>
        </div>
        <div class="w-16 mt-16 ml-16 h-16 border-l-4 border-amber-700 border-dashed border-t-4 rounded-tl-full"></div>
     </div>
     <div class="flex flex-row">
        <div class="hidden md:flex flex-col items-center">
           <div class="w-32 py-5 border border-amber-700 rounded mr-4 uppercase flex flex-col items-center justify-center">
              <div class="text-5xl font-black text-black">5</div>
           </div>
           <div class="h-full border-l-4 border-transparent">
              <div class="border-l-4 mr-4 h-full border-amber-700 border-dashed"></div>
           </div>
        </div>
        <div class="flex-auto border rounded  border-amber-700">
           <div class="flex md:flex-row flex-col items-center">
              <div class="flex-auto">
                 <div class="md:hidden text-sm font-normal uppercase pt-3 pl-3 text-amber-500"><span class="font-black">5</span> - Planification</div>
                 <div class="p-3 text-3xl text-amber-800 font">Eventos anuales</div>
                 <div class="px-3 pb-6 text-amber-600">
                    <p>Conferencias y Cumbres</p>
                    <ul class="pl-12 list-disc">
                       <li>Digital Futures Conference</li>
                       <li>European Future Technologies Conference</li>
                       <li>European Research and Innovation Days</li>
                    </ul>
                    <p>Ferias y Exposiciones</p>
                    <ul class="pl-12 list-disc">
                       <li>Digital Transformation World</li>
                       <li>Slush</li>
                       <li>4YFN</li>
                    </ul>
                 </div>
              </div>
            </div>
        </div>
     </div>
   </div>
   <div class="flex items-start flex-row">
      <div class="border-t-4 border-r-4 border-transparent">
         <div class="w-16 ml-16 h-16 border-l-4 border-amber-700 border-dashed border-b-4 rounded-bl-full"></div>
      </div>
      <div class="border-t-4 border-transparent flex-auto">
         <div class="h-16 border-b-4 border-amber-700 border-dashed"></div>
      </div>
      <div class="w-16 mt-16 mr-16 h-16 border-r-4 border-amber-800 border-dashed border-t-4 rounded-tr-full"></div>
   </div>
   <div class="flex flex-row-reverse">
      <div class="hidden md:flex flex-col items-center">
         <div class="w-32 py-5 border border-amber-900 rounded ml-4 uppercase flex flex-col items-center justify-center">
            <div class="text-5xl font-black text-black">6</div>
          </div>
          <!-- <div class="h-full border-r-4 border-transparent">
           <div class="border-l-4 ml-4 h-full border-amber-600 border-dashed"></div>
        </div> -->
      </div>
      <div class="flex-auto border rounded  border-amber-900">
         <div class="flex md:flex-row flex-col items-center">
            <div class="flex-auto">
               <div class="p-3 text-3xl text-amber-800 font">Preguntas</div>
               <div class="px-3 pb-6 text-amber-600">
                  
                  
                  <p>Procedimientos de solicitud:</p>
                    <ul class="list-disc ml-8">
                       <li>¿Qué repercusión consideráis han tenido las directrices de la UE en los
                        distintos países?</li>
                       <li>¿Qué países consideráis han sido beneficiados?</li>
                       <li>¿Cómo se podrían captar más fondos para España?</li>
                       <li>¿Y para Andalucía?
                           
                       </li>
               </div>
            </div>
          </div>
      </div>
   </div>
</section>